:root{
    --background-color-desktop: url(/images/pattern-bg-desktop.png);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 400, 500, 700;
    justify-content: center;
 
}
.header-info{
    background-image: var(--background-color-desktop);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 1.5rem;
    height: 17rem;
    gap: 1rem;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.Search-container{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 1rem;
  
} 
h1{
    text-align: center;
    flex-wrap: nowrap;

}
 input{ 
    max-width:40rem;
    width: 100%;
    outline: none;
    padding: 1rem;
     font-size: 20px;
    border-radius: 25px 0 0 25px;
    border: none;
 
  
}
button{
    width: 3rem;
    font-size: 20px;
    max-height: 4rem;
    height: 100%;
    padding: 1rem;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: hsl(0, 0%, 17%);
    color: white;

}
.output_info{
    display: flex;
    max-width: 900px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0rem;
    padding: 0  .2rem  0 .2rem;
    box-shadow: 3px 3px 3px 3px rgb(235, 232, 227);
    position: absolute;
    background-color: white;
    border-radius: 10px;
    height: 7rem;
}
.output_info div{
    border-left: 1px solid hsl(0, 0%, 59%);
    padding: 1rem;

}
.output_info .borderNone{
    border:none ;
}
.ip_section_infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 ;

}
@media all and (max-width:400px) {
  .output_info{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    padding-left: 0;
    width: fit-content;
    box-shadow: 3px 3px 3px 3px rgb(235, 232, 227);
    position: absolute;
    background-color: white;
    left: 0;
    bottom: -80%;
    border-radius: 10px;
    height: fit-content;
   
} 
.output_info div , .borderNone{
    border-bottom: 1px solid hsl(0, 0%, 59%);
    width: 100%;
    padding: 1rem;
    border-left:none;
}
.output_info .borderNones{
    border:none ;
}
}


.map{
    max-width: 1440px;
    width: 100%;
}